<!DOCTYPE html>
<html>
<head></head>

<body>
<form method="post" action="/login">
    <p><%- username %></p>
    <p><input type="text" readonly name="client_id" value="<%- client_id %>"/></p>
    <p><input type="text" readonly name="redirect_uri" value="<%- redirect_uri %>"/></p>

    <input type="submit" value="Authorize"/>

    <input type="hidden" name="response_type" value="<%- response_type %>"/>
    <input type="hidden" name="state" value="<%- state %>"/>
</form>
</body>
</html>
